/**
 * Import all the rules from the parent.
 */
 @import "../../bootstrapbase/less/moodle.less";
 @import "gologo/coursebox";

// Set theme colours.

@gologoColor:                            #3291D3;
@gologoLinkColor:                        @white;
@gologoColorHover:                       lighten(@gologoColor, 15%);

// Inverted navbar
@navbarInverseBackground:                @gologoColor;
@navbarInverseBackgroundHighlight:       @gologoColor;
@navbarInverseBorder:                    @gologoColor;

@navbarInverseText:                      @gologoLinkColor;
@navbarInverseLinkColor:                 @gologoLinkColor;
@navbarInverseLinkColorHover:            @gologoColorHover;
@navbarInverseLinkColorActive:           @gologoColorHover;
@navbarInverseLinkBackgroundHover:       darken(@gologoColor, 15%);
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseBrandColor:                @gologoLinkColor;

@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";
@iconGreySpritePath:     "../img/glyphicons-halflings-grey.png";

/* Navbar
-------------------------*/
.navbar-inverse {

  .navbar-inner {
    #gradient > .vertical(@gologoColor, @gologoColor);
    border-color: @navbarInverseBorder;
  }

  .brand,
  .nav > li > a {
    color: @navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    &:hover,
    &:focus {
      color: @navbarInverseLinkColorHover;
    }
  }

  .brand {
    color: @navbarInverseBrandColor;
  }

  .navbar-text {
    color: @navbarInverseText;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: @navbarInverseLinkBackgroundHover;
    color: @navbarInverseLinkColorHover;
  }

  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus {
    color: @navbarInverseLinkColorActive;
    background-color: @navbarInverseLinkBackgroundActive;
  }

  // Inline text links
  .navbar-link {
    color: @navbarInverseLinkColor;
    &:hover,
    &:focus {
      color: @navbarInverseLinkColorHover;
    }
  }

  // Dividers in navbar
  .navbar-inverse .nav .divider,
  .nav .divider {
    border-left-color: darken(@navbarInverseBackground, 10%);
    border-right-color: darken(@navbarInverseBackgroundHighlight, 5%);
  }

  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbarInverseLinkBackgroundActive;
    color: @navbarInverseLinkColorActive;
  }
  .nav li.dropdown > a:hover .caret,
  .nav li.dropdown > a:focus .caret {
    border-top-color: @navbarInverseLinkColorActive;
    border-bottom-color: @navbarInverseLinkColorActive;
  }
  .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: @navbarInverseLinkColor;
    border-bottom-color: @navbarInverseLinkColor;
  }
  .nav li.dropdown.open > .dropdown-toggle .caret,
  .nav li.dropdown.active > .dropdown-toggle .caret,
  .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: @navbarInverseLinkColorActive;
    border-bottom-color: @navbarInverseLinkColorActive;
  }

  // Navbar collapse button
  .btn-navbar {
    .buttonBackground(darken(@navbarInverseBackgroundHighlight, 5%), darken(@navbarInverseBackground, 5%));
  }

}

.dir-ltr .page-context-header .header-button-group,
.dir-rtl .page-context-header .header-button-group {
    float: none;
}
.page-context-header .header-button-group a {
    font-size: 20px;
    font-weight: bold;
    text-aligm: center;
    padding: 10px 20px;
}
.page-context-header .header-button-title {
    margin: 0 5px;
}

/* GoLogo Colour
-------------------------*/
a,
a:link,
a:visited {
    color: @gologoColor;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: @gologoColorHover;
}
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
a.brand,
.hero-unit h1,
.path-calendar .maincalendar .calendar-controls .current,
.path-calendar .maincalendar .header {
    color: @gologoColor;
}

.pagelayout-admin #notice {
    border-color: @gologoColor;
}
.block .header {
    background-color: @gologoColor;
}
#home-main .block_login {
    .well;
}
.navbar .brand {
    color: @gologoColor;
}
.page-context-header {
    background-color: @white;
}

.pagelayout-mydashboard.has-user-picture-styles .page-context-header .page-header-image,
.pagelayout-mypublic.has-user-picture-styles .page-context-header .page-header-image {
    background-color: @gologoColor;
    border: 3px solid @gologoColorHover;
    box-shadow: 1px 1px 3px 10px @gologoColorHover;
}
.pagelayout-mydashboard.has-user-picture-styles .page-context-header .page-header-image img.userpicture,
.pagelayout-mypublic.has-user-picture-styles .page-context-header .page-header-image img.userpicture {
    border: 1px solid @gologoColorHover;
    box-shadow: 0 0 30px 5px @black;
}
.page-context-header span.header-button-title:hover {
    color: @gologoColorHover;
}
#page-navbar {
    background-color: @gologoColor;
}
#page-navbar .breadcrumb > li {
    color: @white;
}
#page-navbar .breadcrumb > li:hover {
    color: @gologoColorHover;
}
.btn {
    color: @gologoColor;
}
i.fa {
    color: @gologoColor;
}
i.fa:hover {
    color: @gologoColorHover;
}
.navbar-inverse .brand .fa-home {
    color: @white;
    cursor: pointer;
}
.navbar-inverse .brand:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .brand:active {
    background-color: @navbarInverseLinkBackgroundHover;
}

.userprofile .profile_tree section h3 {
    background-color: @gologoColor;
    color: @white;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background-color: @gologoColor;
}

.navbar-inverse .brand .fa:hover,
.navbar-inverse .brand .fa:focus,
.navbar-inverse .brand .fa:active {
    color: @gologoColorHover;
}

.usermenu .avatars img {
    border-color: @gologoColor;
}
.icon-grey,
.nav-pills > .active > a > [class^="icon-"],
.nav-list > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
a:hover > i.icon-grey {
    background-image: url([[pix:theme|img/glyphicons-halflings-grey]]);
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-list > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"] {
    background-image: url([[pix:theme|img/glyphicons-halflings-white]]);
}
/* Dock
-------------------------*/
#dock,
#dock .controls {
    position: fixed;
}
.dock {
    top: 60px;
}
#dock .controls img{
    bottom: 20px;
}
#dock .dockeditem.firstdockitem {
    margin-top: 0;
}


/* Navbar breadcrumb-button
-----------------------------*/

.breadcrumb-button input[type="submit"] {
    padding: 3px 12px;
}
.singlebutton div {
    margin-top: 5px;
}
#page-navbar {
    padding-right: 5px;
}

/* Moodle Core Menu */
.section_action_menu .moodle-actionmenu ul.menu > li {
    width: 155px;
}
.section.current .section_action_menu .moodle-actionmenu ul.menu > li {
    width: 180px;
}

.moodle-actionmenu[data-enhanced].show {
    position: relative;
    .menu {
        box-shadow: 3px 3px 10px #abc;
        img {
            vertical-align: middle;
            width: 18px;
            height: 18px;
        }
        .iconsmall,
        .smallicon {
            border-radius: 50%;
            background-color: @white;
        }
    }
}
