/* GoLogo Theme CSS
-------------------------*/
body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}
p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.14;
}
h1, h2, h3, h4, h5, h6,
.hero-unit h1,
.path-calendar .maincalendar .calendar-controls .current,
.path-calendar .maincalendar .header {
    font-family: 'Agency FB';
    font-weight: 600;
}
.pagelayout-admin #notice {
    width: 90%;
    border-width: 0 5px;
    border-style: solid;
}
.pagelayout-admin #notice > p {
    padding: 10px 20px;
    text-align: justify;
}

#page-admin-index .releasenoteslink,
#page-admin-index .adminwarning,
#page-admin-index .adminerror {
    border-radius: 6px;
    text-shadow: none;
    width: 90%;
    padding: 30px 5%;
    font-size: 130%;
    font-weight: 600;
}
#page-header {
    padding-top: 0;
}
.dir-ltr .page-context-header .page-header-image {
    float: none;
    margin: 1em 0;
}
.dir-rtl .page-context-header .page-header-image {
    float: none;
    margin: 1em 0;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu {
    padding: 0;
}

.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    margin: 0 1px;
}

/* Calendar
------------------------------------------*/
.pagelayout-standard .block_fake .header h2 {
    text-align: center;
}
.pagelayout-standard .block_fake .minicalendarblock1,
.pagelayout-standard .block_fake .minicalendarblock2,
.pagelayout-standard .block_fake .minicalendarblock3 {

    border: 1px solid #ddd;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.maincalendar h2 {
    font-size: 250%;
    text-align: center;
}
.maincalendar .heightcontainer {
    padding-left: 25px;
}
.maincalendar h2:before {
    content: "\f073";
    margin-right: 5px;
    font-family: FontAwesome;
}
.maincalendar h2.current:before {
    content: " ";
    font-size: 200%;
}

/* Page layout
------------------------------------------*/

.pagelayout-standard .block_adminblock {
    margin-top: 300px;
    text-align: center;
}

.pagelayout-admin #page-header,
.pagelayout-incourse #page-header,
.pagelayout-mydashboard #page-header,
.pagelayout-mypublic #page-header,
.pagelayout-standard #page-header,
.pagelayout-report #page-header {
    background-image: none;
    padding-top: 0;
}
.pagelayout-admin .context-header .page-header-headings,
.pagelayout-incourse .context-header .page-header-headings,
.pagelayout-standard .context-header .page-header-headings,
.pagelayout-report .context-header .page-header-headings {
    margin-top: 0;
}

.upper-level-only #region-main,
.lower-level-only #region-main {
    width: 100%;
}

.upper-level-only #block-region-lower-level,
.lower-level-only #block-region-upper-level,
.empty-region-upper-leval #block-region-upper-level,
.empty-region-lower-level #block-region-lower-level,
.empty-region-home-content #home-content {
    display: none;
}

.empty-region-home-content #home-main {
    width: 100%;
}

.pagelayout-redirect #page-content {
    background-image: url([[pix:theme|compass]]);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 200px;
    margin: 20px auto;
    text-align: center;
    min-height: 600px;
    width: 100%;
}

.pagelayout-redirect #page-content .alert,
.pagelayout-redirect #page-content .continuebutton {
    font-size: 140%;
    font-weight: 600;
}

.pagelayout-redirect #page-content .continuebutton {
    margin-top: 20px;
}
.pagelayout-redirect #page-content .continuebutton a:link,
.pagelayout-redirect #page-content .continuebutton a:visited {
    color: white;
}
#page-footer .logininfo .btn-small {
    margin-top: 10px;
}

/* Blocks
------------------------------------------*/

.block {
    margin-bottom: 0;
    padding-top: 0;
    background-color: white;
    border: 0 none;
}
.block .header {
    padding: 10px 0;
}
.block .header h2 {
    color: white;
    font-size: 130%;
}
.block_adminblock {
    margin: 0 auto;
    width: 200px;
    max-width: 200px;
}
.block .calendar_filters ul {
    list-style: outside none none;
    margin: 15px;
    text-align: center;
}
.block .calendar_filters ul li {
    display: inline;
    margin: 10px 15px;
}
.block .minicalendar th,
.block .minicalendar td {
    line-height: 24px;
}

/* Styles for Redirect Message
------------------------------------------*/

/** To style "All caches were purged" use the following CSS: **/


.pagelayout-redirect #page-content .alert.alert-block.alert-info { width: 75%; margin: 0 auto; }


/** To style "We are trying to redirect you. Thank you for your patience" use the following CSS.**/


#page-content .continuebutton {
    text-align: center;
}

#page-navbar,
.breadcrumb-nav,
.breadcrumb-button input[type="submit"] {
    margin: 0;
}

#page-navbar {
    padding-left: 0;
}

.dir-rtl #page-navbar :{
    padding-left: 20px;
    padding-right: 0;
}

/* Dock
------------------------------------------*/

#dockeditempanel .dockeditempanel_hd h2 {
    float: left;
}
.dir-rtl #dockeditempanel .dockeditempanel_hd h2 {
    float: right;
}


/* Experimental - Frontpage
-----------------------------*/
.block .header .commands img.iconsmall {
    background-color: #F3F9FD; /* adds light background */
    border: 2px solid #1A4868; /* adds 2px dark border */
    border-radius: 5px; /* adds rounded corners in modern browsers */
    height: 12px;
    margin-right: 3px;
    padding: 2px; /* adds padding to icon */
    width: 12px;
}

.course_category_tree .category > .content {
    padding-left: 0;  /** Removes left padding in category combo course list. **/
}

.dir-rtl .course_category_tree .category > .content {
    padding-right: 0; /** Removes right padding in category combo course list. **/
}

.coursebox .content .summary,
.coursebox .content .coursecat {
    background-color: #fefefe;
    float: none;
    margin: 0 auto;
    padding: 20px 15px;
    width: 90%;
}

.dir-rtl .coursebox .content .summary,
.dir-rtl .coursebox .content .coursecat {
    float: right;
}

table#form td.submit,
.form-buttons,
.path-admin .buttons,
#fitem_id_submitbutton,
.fp-content-center form + div,
div.backup-section + form,
#fgroup_id_buttonar {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol,
#page-mod-forum-discuss .singlebutton div {
    margin: 0;
}

#page-mod-forum-discuss input[type="submit"] {
    margin-left: 5px;
    margin-right: 0;
}

#page-mod-forum-discuss.dir-rtl input[type="submit"] {
    margin-left: 0;
    margin-right: 5px;
}

#page-mod-forum-discuss .select.autosubmit.singleselect {
    margin-left: 0;
    margin-right: 5px;
}

#page-mod-forum-discuss.dir-rtl .select.autosubmit.singleselect {
    margin-left: 5px;
    margin-right: 0;
}
#page-mod-forum-discuss .discussioncontrol.displaymode {
    padding-right: 0;
}
#page-mod-forum-discuss.dir-rtl .discussioncontrol.displaymode {
    padding-left: 0;
}

/* Footer
------------------------------------------*/
#block-region-home-footer {
    text-align: left;
}

#block-region-home-footer .thumbnail h3,
#block-region-home-footer .thumbnail p {
    text-align: center;
}

/* Bootstrap undo
------------------------------------------*/
.hero-unit {
    background-color: white;
    padding: 60px 40px;
}

/* Page Header
-------------------------*/

.pagelayout-standard.user-picture-styles .page-context-header .page-header-image,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-image,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-image {
    height: 250px;
    width: 250px;
    margin: 1em auto 0;
    border-radius: 0 25% 25% 0;
}
.pagelayout-standard.user-picture-styles .page-context-header .page-header-image img.userpicture,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-image img.userpicture,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-image img.userpicture {
    height: 150px;
    width: 150px;
    border-radius: 25% 25% 25% 6%;
    position: relative;
    top: 30px;
    left: 20px;
}
.pagelayout-standard .page-context-header,
.pagelayout-mydashboard .page-context-header,
.pagelayout-mypublic .page-context-header {
    text-align: center;
}
.pagelayout-standard.user-picture-styles .page-context-header .page-header-headings,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-headings,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-headings,
.pagelayout-standard.user-picture-styles .page-context-header .header-button-group,
.pagelayout-mydashboard.user-picture-styles .page-context-header .header-button-group,
.pagelayout-mypublic.user-picture-styles .page-context-header .header-button-group {
    line-height: 24px;
    position: relative;
    vertical-align: middle;
}
.pagelayout-standard.user-picture-styles .page-context-header .page-header-headings,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-headings,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-headings {
    bottom: 65px;
    margin: 0 auto;
}
.pagelayout-standard.user-picture-styles .page-context-header .page-header-headings h1,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-headings h1,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-headings h1 {
    color: white;
    display: block;
    text-align: center;
}
.pagelayout-standard.user-picture-styles .page-context-header,
.pagelayout-mydashboard.user-picture-styles .page-context-header,
.pagelayout-mypublic.user-picture-styles .page-context-header {
    padding-top: 20px;
}

.breadcrumb {
    background: none;
    font-family: "Agency FB";
    font-size: 110%;
    color: white;
}
#page-navbar {
    padding-right: 10px;
}
.dir-rtl #page-navbar {
    padding-right: 0;
    padding-left: 10px;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
    color: white;
    font-size: 110%;
    font-weight: bold;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
    color: #eee;
}

.breadcrumb > li {
    text-shadow: none;
}
.userprofile .profile_tree section h3 {
    font-size: 140%;
    padding: 5px 10px;
}

.btn-small {
    font-size: 90%;
}
/* GoLogo Extras
-------------------------*/

.pagelayout-standard.user-picture-styles .page-context-header .page-header-image,
.pagelayout-mydashboard.user-picture-styles .page-context-header .page-header-image,
.pagelayout-mypublic.user-picture-styles .page-context-header .page-header-image {
    background-image: url([[pix:theme|gologo]]);
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.pagelayout-mypublic .breadcrumb-nav,
.pagelayout-mydashboard .breadcrumb-nav,
.pagelayout-mypublic.editing .breadcrumb-nav,
.pagelayout-mydashboard.editing .breadcrumb-nav {
    float: none;
    text-align: center;
}

.pagelayout-mypublic .breadcrumb-button,
.pagelayout-mydashboard .breadcrumb-button,
.pagelayout-mypublic.editing .breadcrumb-button,
.pagelayout-mydashboard.editing .breadcrumb-button,
.pagelayout-mypublic #page-navbar .breadcrumb-button,
.pagelayout-mydashboard #page-navbar .breadcrumb-button
.pagelayout-mypublic.editing #page-navbar .breadcrumb-button,
.pagelayout-mydashboard.editing #page-navbar .breadcrumb-button {
    float: none;
    text-align: center;
}

.empty-region-content.editing #block-region-content,
.empty-region-header-first.editing #block-region-footer-first,
.empty-region-header-first.editing #block-region-header-first,
.empty-region-header-last.editing #block-region-footer-last,
.empty-region-header-last.editing #block-region-header-last,
.empty-region-home-content.editing #block-region-home-content,
.empty-region-home-footer.editing #block-region-home-footer,
.empty-region-home-header.editing #block-region-home-header,
.empty-region-home-main.editing #block-region-home-main,
.empty-region-lower-level.editing #block-region-lower-level,
.empty-region-upper-level.editing #block-region-upper-level {
    border: 2px dashed #abc;
    min-height: 20px;
}

.block .singleselect select.singleselect,
.block .singleselect {
    width: 100%;
    max-width: 100%;
    display: block;
}
.used-region-header-first.used-region-header-last.used-region-content.has-region-side-pre.docked-region-side-pre #region-main,
.empty-region-header-first.used-region-header-last.used-region-content.has-region-side-pre.docked-region-side-pre #region-main,
.used-region-header-first.empty-region-header-last.used-region-content.has-region-side-pre.docked-region-side-pre #region-main {
    width: 100%;
}
.pagelayout-mypublic #bread-crumb-button,
.pagelayout-mydashboard #bread-crumb-button {
    width: 95%;
    margin: 0 auto;
    height: 35px;
}

.pagelayout-mypublic #page-navbar,
.pagelayout-mydashboard #page-navbar {
    margin: 0;
    padding: 0;
}

.pagelayout-mypublic .breadcrumb-button .singlebutton,
.pagelayout-mydashboard .breadcrumb-button .singlebutton {
    padding: 0;
    margin: 0;

}

.pagelayout-mypublic #bread-crumb-button .singlebutton div,
.pagelayout-mydashboard #bread-crumb-button .singlebutton  div {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#page-navbar .breadcrumb-nav .breadcrumb-button input[type="submit"] {
    margin: 0 2px;
    padding: 5px 20px;
}

.path-course-view a.reduce-sections {
    margin-left: 0.5em;
}

.path-course-view.dir-rtl a.reduce-sections {
    margin-left: 0;
    margin-right: 0.5em;
}

#block-region-upper-level {
    margin-top: 10px;
}
.singlebutton {
    margin: 0;
    width: 190px;
    float: none;
    display: inline-block;
}

