/* GoLogo Theme CSS
-------------------------*/
body {
    font-family: 'Tempus Sans ITC', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.hero-unit h1,
.path-calendar .maincalendar .calendar-controls .current,
.path-calendar .maincalendar .header {
    color: #3291D3;
    font-family: 'Agency FB';
}

.navbar .brand {
    color: #3291D3;
}

#page-header {
    padding-top: 0;
}


.jsenabled .usermenu .moodle-actionmenu.show .menu {
    padding: 0;
}

.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    margin: 0 1px;
}

/* Calendar
------------------------------------------*/
.pagelayout-standard .block_fake .header h2 {
    text-align: center;
}

.pagelayout-standard .block_fake .minicalendarblock1,
.pagelayout-standard .block_fake .minicalendarblock2,
.pagelayout-standard .block_fake .minicalendarblock3 {

    border: 1px solid #ddd;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.maincalendar .heightcontainer {
    padding-left: 25px;
}

.maincalendar .heightcontainer h2:before {
    content: "\f073";
    margin-right: 5px;
    font-family: FontAwesome;
}

/* Page layout
------------------------------------------*/

.pagelayout-standard .block_adminblock {
    margin-top: 300px;
    text-align: center;
}

.pagelayout-admin #page-header,
.pagelayout-incourse #page-header,
.pagelayout-standard #page-header,
.pagelayout-report #page-header {
    background-image: none;
    padding-top: 0;
}

.upper-level-only #region-main,
.lower-level-only #region-main {
    width: 100%;
}

.upper-level-only #block-region-lower-level,
.lower-level-only #block-region-upper-level,
.empty-region-upper-leval #block-region-upper-level,
.empty-region-lower-level #block-region-lower-level,
.empty-region-home-content #home-content {
    display: none;
}

.empty-region-home-content #home-main {
    width: 100%;
}

.pagelayout-redirect #page-content {
    background-color: rgba(50, 145, 211, 15%);
    background-image: url([[pix:theme|compass]]);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 300px;
    margin: 20px auto;
    text-align: center;
    height: 600px;
    width: 100%;
}

.pagelayout-redirect #page-content .alert,
.pagelayout-redirect #page-content .continuebutton {
    font-size: 140%;
    font-weight: 600;
}

.pagelayout-redirect #page-content .continuebutton {
    margin-top: 20px;
}
.pagelayout-redirect #page-content .continuebutton a:link,
.pagelayout-redirect #page-content .continuebutton a:visited {
    color: white;
}


/* Blocks
------------------------------------------*/

.block {
    margin-bottom: 0;
    padding-top: 0;
    background-color: white;
    border: 0 none;
}
.block .header {
    padding: 10px 0;
    background-color: #3291D3;
}
.block .header h2 {
    color: white;
    font-size: 130%;
}

.block .calendar_filters ul {
    list-style: outside none none;
    margin: 15px;
    text-align: center;
}

.block .calendar_filters ul li {
    display: inline;
    margin: 10px 15px;
}


/* Styles for Redirect Message
------------------------------------------*/

/** To style "All caches were purged" use the following CSS: **/


.pagelayout-redirect #page-content .alert.alert-block.alert-info { width: 75%; margin: 0 auto; }


/** To style "We are trying to redirect you. Thank you for your patience" use the following CSS.**/


#page-content .continuebutton { text-align: center; }

#page-navbar,
.breadcrumb-nav,
.breadcrumb-button input[type="submit"] {
    margin: 0;
}

/* Dock
------------------------------------------*/

#dockeditempanel .dockeditempanel_hd h2 {
    float: left;
}
.dir-rtl #dockeditempanel .dockeditempanel_hd h2 {
    float: right;
}


/* Experimental - Frontpage
-----------------------------*/
.block .header .commands img.iconsmall {
    background-color: #F3F9FD; /* adds light background */
    border: 2px solid #1A4868; /* adds 2px dark border */
    border-radius: 5px; /* adds rounded corners in modern browsers */
    height: 12px;
    margin-right: 3px;
    padding: 2px; /* adds padding to icon */
    width: 12px;
}


.course_category_tree .category > .content {
    padding-left: 0; // Removes left padding in category combo course list.
}

.dir-rtl .course_category_tree .category > .content {
    padding-right: 0; // Removes right padding in category combo course list.
}

.coursebox .content .summary,
.coursebox .content .coursecat {
    background-color: #fefefe;
    float: none;
    margin: 0 auto;
    padding: 20px 15px;
    width: 90%;
}

.dir-rtl .coursebox .content .summary,
.dir-rtl .coursebox .content .coursecat {
    float: right; // Removes float property.
}

table#form td.submit,
.form-buttons,
.path-admin .buttons,
#fitem_id_submitbutton,
.fp-content-center form + div,
div.backup-section + form,
#fgroup_id_buttonar {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol,
#page-mod-forum-discuss .singlebutton div {
    margin: 0;
}

#page-mod-forum-discuss input[type="submit"] {
    margin-left: 5px;
    margin-right: 0;
}

#page-mod-forum-discuss.dir-rtl input[type="submit"] {
    margin-left: 0;
    margin-right: 5px;
}

#page-mod-forum-discuss .select.autosubmit.singleselect {
    margin-left: 0;
    margin-right: 5px;
}

#page-mod-forum-discuss.dir-rtl .select.autosubmit.singleselect {
    margin-left: 5px;
    margin-right: 0;
}
#page-mod-forum-discuss .discussioncontrol.displaymode {
    padding-right: 0;
}
#page-mod-forum-discuss.dir-rtl .discussioncontrol.displaymode {
    padding-left: 0;
}

/* Footer
------------------------------------------*/
#block-region-home-footer {
    text-align: left;
}

#block-region-home-footer .thumbnail h3,
#block-region-home-footer .thumbnail p {
    text-align: center;
}


/* Bootstrap undo
------------------------------------------*/
.hero-unit {
    background-color: white;
    padding: 60px 40px;
}
