/* Custom CSS Settings
-------------------------*/
a.brand {
    background-image: url([[setting:brandicon]]);
    background-position: 20px 50%;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 130px;
}

.dir-rtl a.brand {
    background-position: right;
}


[[setting:customcss]]
