/* DO NOT ADD ANY CSS HERE
-------------------------*/

/* Brand Icon Styles
-------------------------*/
a.brand {
    background-image: url([[setting:brandicon]]);
    background-position: 20px 50%;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 20px;
}

.dir-rtl a.brand {
    background-position: 98.5% 50%;
}

/* Brand Logo Styles
-------------------------*/
.has-brand-logo #brand-logo {
    background-image: url([[setting:brandlogo]]);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
}

.dir-rtl.has-brand-logo #brand-logo {
    background-position: right top;
}

/* Poster Styles
-------------------------*/
#poster1image-thumbnail {
    background-image: url([[setting:poster1image]]);
}

#poster2image-thumbnail {
    background-image: url([[setting:poster2image]]);
}

#poster1image-thumbnail,
#poster2image-thumbnail {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 180px 180px;
    display: block;
    height: 180px;
    width: 180px;
}

#page {
    max-width: 1024px;
    margin: 0 auto;
}

/* Custom CSS Settings
-------------------------*/

[[setting:customcss]]
